# Homework

In [44]:
import pandas as pd 
import numpy as np

In [26]:
print(pd.__version__)

2.2.2

In [27]:
df=pd.read_csv('laptops.csv')

In [28]:
df.shape

(2160, 12)

In [29]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [30]:
df.Brand.nunique()

27

In [31]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [32]:
df.groupby('Brand')['Final Price'].max()

Brand
Acer                3691.00
Alurin               869.00
Apple               3849.00
Asus                5758.14
Deep Gaming         1639.01
Dell                3936.00
Denver               329.95
Dynabook Toshiba    1805.01
Gigabyte            3799.00
HP                  5368.77
Innjoo               431.38
Jetwing              469.27
LG                  2399.00
Lenovo              5018.14
MSI                 7150.47
Medion              3799.00
Microsoft           3747.91
Millenium           2312.71
PcCom               1949.90
Primux               599.41
Prixton              329.95
Razer               4999.01
Realme               999.00
Samsung             3699.01
Thomson              436.56
Toshiba              799.00
Vant                1217.01
Name: Final Price, dtype: float64

In [33]:
# 1. Find the median value of the 'Screen' column
median_before = df['Screen'].median()
print(f"Median before filling missing values: {median_before}")

# 2. Calculate the most frequent value of the 'Screen' column
most_frequent = df['Screen'].mode()[0]
print(f"Most frequent value in 'Screen' column: {most_frequent}")

# 3. Use fillna to fill missing values with the most frequent value
df['Screen']=df['Screen'].fillna(most_frequent)

# 4. Calculate the median value of 'Screen' once again after filling missing values
median_after = df['Screen'].median()
print(f"Median after filling missing values: {median_after}")

Median before filling missing values: 15.6
Most frequent value in 'Screen' column: 15.6
Median after filling missing values: 15.6

In [39]:
#Selecting  all the "Innjoo" laptops from the dataset and filtering  only columns RAM, Storage, Screen
X=df[df['Brand']=='Innjoo'][['RAM', 'Storage', 'Screen']]

In [45]:
# turning X into a numpy array
X=X.to_numpy()

In [56]:
#Computing matrix-matrix multiplication between the transpose of X and X
XTX= (X.T).dot(X)

In [60]:
#Computing the inverse of XTX
inverse=np.linalg.inv(XTX)

In [65]:
#Creating an array y
y= np.array([1100, 1300, 800, 900, 1000, 1100])

In [72]:
#Multiplying the inverse of XTX with the transpose of X, and then multiply the result by y
w=(inverse.dot(X.T)).dot(y)

In [74]:
print(w.sum())

91.2998806299555